# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data, except environment files
*.tfvars
!environments/dev.tfvars
!environments/prod.tfvars

# Exclude override files as they're usually used for local dev
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Exclude service account keys
*-key.json
*.json

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log

# Ignore any .tfplan files
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac/OSX system files
.DS_Store

# Ignore editor files
.vscode/
.idea/
*.swp
*.swo

# Ansible
ansible/ansible.log
*.retry
.ansible/
