apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-{{ ansible_limit }}
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: {{ email }}
    privateKeySecretRef:
      name: letsencrypt-dev-private-key
    solvers:
    - http01:
        ingress:
          class: nginx
          podTemplate:
            metadata:
              labels:
                app: cert-manager
            spec:
              nodeSelector:
                kubernetes.io/os: linux 