apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-{{ target_env }}
  namespace: frontend
  labels:
    app: app-{{ target_env }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "{{ cluster_issuer }}"
spec:
  tls:
  - hosts:
    - {{ domain }}
    secretName: tls-secret
  rules:
  - host: {{ domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: service-{{ target_env }}
            port:
              number: 80
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: api-service-{{ target_env }}
            port:
              number: 3000
