apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-frontend-ingress-{{ ansible_limit }}
  namespace: {{ frontend_namespace }}-{{ env_suffix }}
  labels:
    app: app-{{ ansible_limit }}
  annotations:
{% if ssl_enabled | default(false) %}
    cert-manager.io/cluster-issuer: "letsencrypt-{{ ansible_limit }}"
{% endif %}
spec:
  ingressClassName: nginx
{% if ssl_enabled | default(false) %}
  tls:
  - hosts:
    - {{ domain }}
    secretName: tls-secret-shared-{{ ansible_limit }}
{% endif %}
  rules:
  - host: {{ domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ frontend_label }}-svc
            port:
              number: 80

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-api-ingress-{{ ansible_limit }}
  namespace: {{ backend_namespace }}-{{ env_suffix }}
  labels:
    app: app-{{ ansible_limit }}
  annotations:
{% if ssl_enabled | default(false) %}
    cert-manager.io/cluster-issuer: "letsencrypt-{{ ansible_limit }}"
{% endif %}
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
{% if ssl_enabled | default(false) %}
  tls:
  - hosts:
    - {{ domain }}
    secretName: tls-secret-shared-{{ ansible_limit }} 
{% endif %}
  rules:
  - host: {{ domain }}
    http:
      paths:
      - path: /api(/|$)(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ backend_label }}-svc
            port:
              number: 80
