apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress-{{ ansible_limit }}
  namespace: frontend
  labels:
    app: app-{{ ansible_limit }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: "letsencrypt-{{ ansible_limit }}"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ domain }}
    secretName: tls-secret-{{ ansible_limit }}
  rules:
  - host: {{ domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-service-{{ ansible_limit }}
            port:
              number: 80
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend-service-{{ ansible_limit }}
            port:
              number: 3000
