---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ namespace_name }}"
  labels:
    name: "{{ namespace_name }}"
    
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: resource-quota
  namespace: "{{ namespace_name }}"
spec:
  hard:
    pods: "20"
    requests.cpu: "4"
    requests.memory: "8Gi"
    limits.cpu: "8"
    limits.memory: "16Gi"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: default-limits
  namespace: "{{ namespace_name }}"
spec:
  limits:
  - default:
      cpu: "500m"
      memory: "512Mi"
    defaultRequest:
      cpu: "250m"
      memory: "256Mi"
    type: Container
